name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

permissions:
  contents: read

jobs:
  rust-checks:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: install rust
        run: rustup update stable && rustup default stable
      - name: add components
        run: rustup component add rustfmt clippy
      - name: check
        run: cargo update --locked
      - name: fmt
        run: cargo fmt --all --check
      - name: clippy
        run: cargo clippy --all-targets --all-features --no-deps -- -D warnings
      - name: build
        run: cargo build --all-targets
      - name: test
        run: cargo test --all-targets
